* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.logo-image {
    width: 130px;
    height: auto;
    margin-bottom: 40px;
}

.hero-image {
    margin-bottom: 50px;
}

.illustration {
    width: 100%;
}

.hero-text {
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 19.5px;
    line-height: 27px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
}

button {
    margin-bottom: 50px;
    width: 210px;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    color: hsl(257, 40%, 49%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

.social-icon {
    margin-bottom: 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.icon {
    padding: 6px;
    height: 30px;
    width: 30px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.icon:hover {
    filter: invert(77%) sepia(57%) saturate(1850%) hue-rotate(300deg) brightness(173%) contrast(95%);
}

@media (min-width: 600px) {
    body {
        height: 100vh;
        padding: 20px 40px 10px 40px;
    }
    .logo-image {
        width: 260px;
    }
    .container {
        height: fit-content;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero-image {
        margin-bottom: 0;
    }
    .hero-text {
        text-align: left;
        padding: 40px;
        height: max-content;
    }
    .title {
        font-size: 42px;
    }
    .body {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .social-icon {
        justify-content: right;
    }
    .icon {
        padding: 8px;
        width: 40px;
        height: 40px;
    }
}
